Package: wireguardbroker
Version: 1.0
Section: base
Priority: optional
Architecture: amd64
Depends: wireguard (>= 1.0), wireguard-tools (>= 1.0)
Maintainer: zabenno
Description: Wireguard Broker
 Negotiates connection details with the wireguard API server to 
 either allow clients to connect via a managed wireguard interface, 
 or, creates the configuration file needed to connect to a 
 wireguard server.